* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//------------------------- Death Count -------------------------

.DeathPanel {
	background-image: url("/home/marius/.config/eww/test.png");
	background-size: 320px 120px;
	padding-top: 20px;
	margin-bottom: 20px;
}
.DeathCount {
	color: rgba(250,00,0,1.0);
	font-size: 1.8em;
	font-family: "FontAwesome Regular";
}
.BossName {
	color: rgba(20,20,20,1.0);
	font-size: 1.8em;
	font-family: "FontAwesome Regular";
}
//------------------------- Side Panel -------------------------

.sidepanel {
	background-color: rgba(10,10,10,0.79);
	border-radius: 10px;
	border: 2px solid rgba(25,25,25,0.5);
}

.volume_slider {
}

//Global Styles
.icon {
	background-color: rgba(20,20,20,0.8);
	color: #ffffff;
	border: 1px solid #6D6D6D;
	border-radius: 7px;
	font-size: 0.8em;
	padding: 10px;
	font-family: "FontAwesome Regular";
	& :hover {
		color: rgba(250,00,204,0.8);
	}
}

.media_info{
	font-size: 0.9em;
	margin: 12px;
}
.title_bar {
	color: #ffffff;
	font-size: 1.5em;
	font-family: "FontAwesome Regular";
	padding: 5px;
	margin: 5px;

}

.quick_control {
	font-size: 1.2em;
	background-color: rgba(30,30,30,0.8);
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 7px;
	padding: 5px;
}
